/* base style  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* ------------------------------------nav style start-------------------------------- */

.header-banner {
    background-color: rgba(255, 144, 14, 0.1);
    ;
}



.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-bar .nav-titile {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    margin-top: 50px;
}

ul {
    display: flex;
    gap: 24px;
}

li {
    color: #424242;
    list-style: none;
    font-weight: 500;
    font-size: 18px;
    font-weight: 500;
    font-size: 18px;
}

/*---------------------------- banner style-------------------------------- */

.banner {
    text-align: center;
    margin: 100px 240px 45px 240px;
}

.banner-title {
    color: #131313;
    font-weight: 700;
    font-size: 64px;
}

.banner--sub-title {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    /* margin-top: 30px; */
}

.button-primary {
    color: #FFFFFF;
    background-color: #FF900E;
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    padding: 21px 24px 20px 25px;
    margin-top: 32px;
    margin-bottom: 50px;
}

.button-primary:hover {
    background-color: #131313;
    transition-duration: 0.8s;


}

.banner-image img {
    width: 100%;
}

/* -------------------------------------------main section------------------------------- */

/* ---------------------features-images style---------------------------- */
.features {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    align-items: center;


}

.features-images img {
    width: 100%;
}

.features-images {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    padding: 60px;
    margin-left: 175px;

}

.feature-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin-left: 30px;
}

.feature-title {
    font-weight: 500;
    font-size: 45px;
    justify-content: center;
    align-items: center;
}

.feature-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

/* 
--------------------------------------------feature style end------------------------------------ */

/* 
-----------------------------------------------------facts section style---------------------------------- */

.fact-info {

    padding-left: 130px;
    padding-bottom: 100px;



}

.fact-titles {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.facts-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.facts-containres {
    display: flex;
    flex-direction: row;
    /* padding: 10px 30px; */
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    text-align: center;
    box-sizing: border-box;
    border: 1 px solid red;
    padding: 20px;


}

.facts-cotainer1:hover {
    padding: 30px;
    background-color: #c7b283;
    font-weight: 900;
    border: 1px solid #FF900E;
    border-radius: 8px;
    transform: rotate(360deg);
    transition: 0.9s;
}
.facts-cotainer2:hover {
    padding: 30px;
    background-color: #c7b283;
    font-weight: 900;
    border: 1px solid #FF900E;
    border-radius: 8px;
    transform: rotate(360deg);
    transition: 0.9s;
}
.facts-cotainer3:hover {
    padding: 30px;
    background-color: #c7b283;
    font-weight: 900;
    border: 1px solid #FF900E;
    border-radius: 8px;
    transform: rotate(360deg);
    transition: 0.9s;
}
.facts-cotainer4:hover {
    padding: 30px;
    background-color: #c7b283;
    font-weight: 900;
    border: 1px solid #FF900E;
    border-radius: 8px;
    transform: rotate(360deg);
    transition: 0.9s;
}

/* --------------------------------------facts style end---------------------------------- --> */

/* ---------------------------Sponsors style starts--------------------------- */







/* ------------------------
---------------media query
--------------------------- */

@media (max-width: 576px) {

    /* ------------nav------------- */
    .nav-bar {
        display: block;
    }

    ul {
        display: block;
    }

    /* .features-images {
        display: block;
    }
    .feature-info{
        display: block;
    } */
    /* ---------------------banner---------------- */
    .banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .banner--sub-title {
        margin: 0;
        padding: 0;
    }

    /* ---------------------feature---------------------- */
    .features {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .features-images {
        display: grid;
        grid-template-columns: 1fr;
    }
}